* {
    margin: 0;
    padding: 0;
    border: 0;
}


/*****************Navbars*********************/

.navbar {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    background-color: #0c489f;
    min-height: 8px;
}

.navbar a {
    color: #fafafa;
}

.navbar a:hover {
    font-size: 130%;
}

/******************************Buttons************************/

#hero-button {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    background-color: #0c489f;
    border: none;
    font-size: 90%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#hero-button:hover {
    text-transform: uppercase;
}

#hero-button:focus {
    text-transform: uppercase;
    color: #0c489f;
    background-color: #fafafa;
    border: 1px solid #0c489f;
}

.buy-now-btn {
    margin: 5px 0px 15px 10px;
    text-align: center;
    left: 50%;
}

.buy-now-btn:hover {
    text-transform: uppercase;
}

/*****************Images****************/

.book-img {
    width: 10%;
    height: 10%;
}


/*****************Page-intros********************/

.page-intro {
    text-align: center;
    margin-top: 15%;
    font-family: 'Lato', sans-serif;
}

@media only screen and (min-width:600px) {
    .page-intro {
     margin-top: 75px;
    }
}

.page-intro h1 {
      text-transform: uppercase;
      word-spacing: 3px;
      letter-spacing: -1px;
}

/*****************Hero-image*********************/

#hero-image {

    background-image:linear-gradient(rgb(60, 60, 60), rgba(17, 17, 17, 0.5)), url("https://cdn.pixabay.com/photo/2017/05/09/09/15/edinburgh-2297668_1280.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    
}

@media only screen and (min-width:600px) {
    #hero-image {
     background-image:linear-gradient(rgb(103, 98, 98), rgba(17, 17, 17, 0.5)), url("https://cdn.pixabay.com/photo/2019/04/22/08/58/edinburgh-4146031_1280.jpg");
    }
}

/*Adapted from Jonas tutorial */

.hero-text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    text-align: center;
}

@media only screen and (min-width:600px) {
    #landing-page-heading {
        margin-bottom: 50px;
    }
}




/*****************Footer*********************/

#position-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

/*adapted from Resume mini-project*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #696767;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}
