* {
    margin: 0;
    padding: 0;
    border: 0;
}


/*****************Navbars*********************/

.navbar {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    background-color: #0c489f;
    min-height: 8px;
}

@media only screen and (min-width:400px, max-width:450px) {
.navbar {
    padding-bottom: 0;
    }
}

.navbar a {
    color: #fafafa;
}

.navbar a:hover {
    font-size: 130%;
}

.genre-navbar {
    padding-bottom: 5%;
    margin-bottom: 10%;
}

@media only screen and (min-width:600px) {
.genre-navbar {
    margin-bottom: 0;
    padding-bottom: 1%;
    }
}

/******************************Buttons************************/

#hero-button {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    background-color: #0c489f;
    border: none;
    font-size: 90%;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#hero-button a {
    color: white;
}

#hero-button:hover {
    text-transform: uppercase;
    color: #0c489f;
}

#hero-button:focus {
    text-transform: uppercase;
    color: #0c489f;
    background-color: #fafafa;
    border: 1px solid #0c489f;
}



.buy-now-btn {
    display: inline;
   
}

.buy-now-btn:hover {
    text-transform: uppercase;
}

@media only screen and (min-width:600px) {
.buy-now-btn {
    margin: 1px 0px 1px 3px;
    text-align: center;
    }
}


.top-return {
    padding: 5%;
    margin-top: 5%;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: rgb(73, 71, 71);
}

@media only screen and (min-width:600px) {
.top-return {
    padding: 1%;
    }
}



/*****************Page-intros********************/

.page-intro {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width:3800px) {
    .page-intro {
     margin-top: 115px;
    }
}

@media only screen and (min-width:400px) {
    .page-intro {
     margin-top: 80px;
    }
}


.page-intro h1 {
      word-spacing: 3px;
      letter-spacing: 2px;
      font-family: 'Amatic SC', sans-serif;
}

@media only screen and (min-width:450px) {
    .page-intro h1 {
        font-size: 450%;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.page-intro p {
    font-family: "Lato", Times;
}

@media only screen and (min-width:400px) {
    .page-intro p {
        font-size: 150%;
    }
}

/*****************Hero-image*********************/

#hero-image {

    background-image:linear-gradient(rgb(60, 60, 60), rgba(17, 17, 17, 0.5)), url("https://cdn.pixabay.com/photo/2017/05/09/09/15/edinburgh-2297668_1280.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    
}

@media only screen and (min-width:600px) {
    #hero-image {
     background-image:linear-gradient(rgb(103, 98, 98), rgba(17, 17, 17, 0.5)), url("https://cdn.pixabay.com/photo/2019/04/22/08/58/edinburgh-4146031_1280.jpg");
    }
}

/*Adapted from Jonas tutorial */

.hero-text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    text-align: center;
}

@media only screen and (min-width:600px) {
    #landing-page-heading {
        margin-bottom: 50px;
    }
}




/*****************Footer*********************/

#position-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

/*adapted from Resume mini-project*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #696767;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}


/******************Books page ***********************/ 

@media only screen and (max-width:430px) and (min-width:410px) {
#books-intro  {
    padding-top: 12%;
    }
}

@media only screen and (max-height:740px) and (min-height:735px) {
#books-intro  {
    padding-top: 1%;
    }
}

.genre {
    color: #373d3f;
    padding: 5% 0 0 5%;
}

@media only screen and (min-width:600px) {
.genre {
    padding: 3% 0 0 1%;
    }
}

.book {
    color: #373d3f;
    padding: 0 5% 5% 5%;
    display: inline;
}

@media only screen and (min-width:600px) {
.book {
    padding: 1%;
    display: block;
    }
}

.book p {
    margin-bottom: 11%;
}

@media only screen and (min-width:600px) {
.book p {
     padding-bottom: 3%;
    }
}

@media only screen and (min-width:600px) {
.book p {
    padding-top: 2px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 150%;
    }
}
.book h4 {
    text-align: center;
    margin-top: 3%;
}

@media only screen and (min-width:600px) {
.book h4 {
    padding-top: 4%;
    }
}

.book h5 {
    text-align: center;
}



.book-img {
    max-width: 25%;
    height: auto%;
    padding: 3% 2% 0 2%;
    margin-right: 2px;
    margin-bottom: 0;
    display: inline;
    float: left;
}

@media only screen and (min-width:600px) {
.book-img {
    max-width: 17%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 2%;
    width: 50%;

    }
}


.genre h3 {
    text-align: center;
    color: #0c489f;
    text-transform: uppercase;
    font-size: 250%;
}

@media only screen and (min-width:600px) {
.genre h3 {
    font-weight: bold;
    font-size: 300%;
    }
}

@media only screen and (min-width:600px) {
#classics {
    margin-top: 4%;
    }
}


/******************Books page closing *********************/
#closing h4 {
    text-transform: uppercase;
    text-align: center;
    color: #0c489f;
    margin: 5% 0 5% 0;;
}

#closing p {
    color: #373d3f;
    padding-left: 5%;
    padding-right: 1%;
    font-size: 150%;
}

@media only screen and (min-width:600px) {
#closing p {
    padding: 1%;
    text-align: center;
    }
}


#fade-out-photo {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20%;
}

@media only screen and (min-width:600px) {
#fade-out-photo {
    padding-bottom: 10%;
    }
}

/************************************Sights page ***********************************/
@media only screen and (max-width:430px) and (min-width:410px) {
#sights-intro  {
    padding-top: 10%;
    }
}

@media only screen and (max-height:740px) and (min-height:735px) {
#sights-intro  {
    padding-top: 1%;
    }
}

.figure {
  text-align: center;
  color: white;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.figure img {
   width: 100%;
   height: auto;
   display: block;
   filter: brightness(50%);
}


.figure img:hover {
   filter: brightness(100%);
}

.figure fig-caption {
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(245, 245, 240);
    font-size: 250%
}

@media only screen and (min-width:600px) {
.figure fig-caption {
    font-size: 300%;
    }
}

.caption-vertical {
    left: 30%;
    font-size: 200%;
}


.sight-type {
   color: #373d3f;
    padding: 0 5% 5% 5%;
    display: inline; 
    text-align: center;
}

.sight-type h3 {
    text-align: center;
    color: #0c489f;
    text-transform: uppercase;
    font-size: 250%;
}

@media only screen and (min-width:600px) {
.sight-type h3 {
    font-weight: bold;
    font-size: 300%;
    }
}

.sight-type p {
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

.sight {
    color: #373d3f;
    padding: 0 5% 5% 5%;
    display: inline;
}

.sight h4 {
    text-align: center;
}

@media only screen and (min-width:600px) {
.sight h4 {
    font-weight: bold;
    font-size: 200%;
    }
}

.sight p {
    text-align: left;
    margin: 1% 2% 0% 2%;
}

@media only screen and (min-width:600px) {
.sight-type p, 
.sight p {
    font-size: 150%;
    }
}

.sight-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 50%;
  display: block;
  /**Image-centering code from: https://www.w3schools.com/howto/howto_css_image_center.asp **/
}

.embed-responsive {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}